body {
  background-image: url('DreamIsland.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
h2 {
  color: blue;
  font-family: arial;
}
p {
  color: maroon;
  font-family: arial;
}